[Unit]
Description=API server

[Service]
Type=simple
ExecStart=/usr/bin/node /opt/api/index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tenso
Environment=NODE_ENV=production
LimitFSIZE=unlimited
LimitCPU=unlimited
LimitAS=unlimited
LimitNOFILE=64000
LimitRSS=unlimited
LimitNPROC=32000

[Install]
WantedBy=multi-user.target